h1 {
  text-align: center;
  font-family: 'arial';
  font-size: 100px;
  margin-top: 30px;
  margin: 0;
}
h2 {
  text-align: center;
  font-family: 'arial';
  font-size: 18px;
}
form{
  text-align: center;
}
#instructions {
  opacity: 80%;
}
