h1 {
  text-align: center;
  font-family: 'arial';
  font-size: 100px;
  margin-top: 30px;
  margin: 0;
}
.real{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.back{
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/59/11/1557a3f270010af.jpg);
}
h2 {
  text-align: center;
  font-family: 'arial';
  font-size: 18px;
}
form{
  text-align: center;
}
#instructions {
  opacity: 80%;
}

.same-line {
  display: inline-block;
}

.input {
  height: 85px;
}